{% extends "navbar.html" %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Student</title>
    <link rel="stylesheet" href="static/css/add_student.css" />
</head>
<body>
  <label class="add_student">Add Student</label>
  <form method="POST" enctype="multipart/form-data">
      <input type="text" class="form-control" name="student_id" id="student_id" placeholder="Student ID" aria-label="Student ID" aria-describedby="basic-addon1">
      <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name" aria-label="First Name" aria-describedby="basic-addon1">
      <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name" aria-label="Last Name" aria-describedby="basic-addon1">
      <select class="gender-option"  name="gender"  id="gender">                        
        <option selected="selected">  Select Gender</option>
        <option>Male</option>
        <option>Female</option>
      </select>
      <select class="year-option"  name="year-level"  id="year-level">                        
        <option selected="selected">  Select Year</option>
        <option>1st Year</option>
        <option>2nd Year</option>
        <option>3rd Year</option>
        <option>4th Year</option>
        <option>5th Year</option>
      </select>
      <select class="course-option"  name="course-code"  id="course-code">                        
          <option selected="selected">  Select Course</option>
          {% for c in courses %}
            <option>{{c[0]}}</option>
          {% endfor %}
      </select>

      <div class="form-group" style="width:500px; margin-top:10px;">
            <label style="color:black; font-weight:bold;">Select Student Image</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="image" id="image" style="color:black;">
            </div>
      </div>
      
      <button type="submit" class="btn btn-primary">Add Student</button>
  </form>
</body>
</html>

{% endblock %}