<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/navbar.css" />
</head>

<body>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <ul>  
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/student">Student</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/course">Course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/college">College</a>
        </li>
     </ul>
     <form action="{{url_for('search.studentRecord')}}" method="POST">
      <button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" style="margin-left:50px;">Search</button>

      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
          <h5 id="offcanvasRightLabel">Search</h5>
          <h5 id="offcanvasRightLabel" class="search-label">Search for a Student...</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <input type="text" class="form-control" name="search-student_id" id="student_id" placeholder="Student ID" aria-label="Student ID" aria-describedby="basic-addon1">
          <input type="text" class="form-control" name="search-first_name" id="first_name" placeholder="First Name" aria-label="First Name" aria-describedby="basic-addon1">
          <input type="text" class="form-control" name="search-last_name" id="last_name" placeholder="Last Name" aria-label="Last Name" aria-describedby="basic-addon1">
          
          <select class="option"  name="search-gender"  id="gender">                        
            <option selected="selected" value="">  Select Gender</option>
            <option>Male</option>
            <option>Female</option>
          </select>

          <select class="option"  name="search-year-level"  id="year-level">                        
            <option selected="selected" value="">  Select Year</option>
            <option>1st Year</option>
            <option>2nd Year</option>
            <option>3rd Year</option>
            <option>4th Year</option>
            <option>5th Year</option>
          </select>
          <select class="option"  name="search-course-code"  id="course-code">                        
              <option selected="selected" value="">  Select Course</option>
              {% for c in courses %}
                <option>{{c[0]}}</option>
              {% endfor %}
          </select>
          <select class="option"  name="search-college-code"  id="college-code">                        
            <option selected="selected" value="">  Select College</option>
            {% for coll in colleges_code %}
               <option>{{coll[0]}}</option>
            {% endfor %}
          </select>
          <button type="submit" class="btn-search">Search</button>
        </div>
      </div>
     </form>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="label-ssis">Student Information System</a>
    </div>
  </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
     {% if messages %}
       {% for category, message in messages %}
         {% if category == "error" %}
          <div id="message">
          <div>
            <div class="alert alert-warning alert-dismissible fade show d-flex align-items-center"  role="alert" data-bs-toggle="err">                 
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0.954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                 {{ message }}
                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert">
                </button>
            </div>
          </div>
          </div>
         {% else %}
            <div class="alert alert-success alert-dismissible fade show d-flex align-items-center" role="alert" data-bs-toggle="succ">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/>
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>

                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert">
                </button>
                {{ message }}
            </div>
         {% endif %}
       {% endfor %}
     {% endif %}
   {% endwith %}
   <div class="container">
   {% block content %}
   {% endblock %}
   </div>

   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
             integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
             integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</body>
</html>